<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Contraseña</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css" />

</head>
<body>
    <h2>Editar Contraseña</h2>
    <form id="editarForm">
        <label for="nuevo_servicio">Servicio:</label>
        <input type="text" id="nuevo_servicio" name="nuevo_servicio" value="{{ contrasena[1] }}" required><br>

        <label for="nuevo_usuario">Usuario:</label>
        <input type="text" id="nuevo_usuario" name="nuevo_usuario" value="{{ contrasena[2] }}" required><br>

        <label for="nueva_contrasena">Contraseña:</label>
        <input type="text" id="nueva_contrasena" name="nueva_contrasena" value="{{ contrasena[3] }}" required><br>

        <button type="button" onclick="guardarCambios({{ contrasena[0] }})">Guardar Cambios</button>
    </form>

    <script src="../static/js/scripts.js"></script>

</body>
</html>