*{
  margin:0; 
  padding: 0;
  box-sizing: border-box;
}


/* Estilos Formulario */
.form{
  margin: 8%;
  margin-left: 35%;
  margin-right: 35%;
}
.title{
  font-family: 'Lobster', cursive;
}
.title-home{
  text-align: center;
  font-family: 'Lobster', cursive;
  padding-top: 10px;
  font-size: 2rem;
}

header{
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 80px;
  background-color: #c4d4e9;
}
li{
  font-size: 1.2rem;
}