<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacenamiento de Contraseñas</title>
</head>
<body>
    <h1>Almacenamiento de Contraseñas</h1>
    <form action="/agregar" method="post">
        <label for="servicio">Servicio:</label>
        <input type="text" name="servicio" required>
        <br>
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" required>
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="text" name="contrasena" id="contrasena" required>
        <button type="button" onclick="generarContrasena()">Generar Contraseña</button>
        <br>
        <label for="longitud">Longitud:</label>
        <input type="range" id="longitud" name="longitud" min="4" max="16" value="12">
        <span id="valorLongitud">12</span>
        <br>
        <button type="submit">Agregar Contraseña</button>
    </form>
    <br>
    <a href="/ver">Ver Contraseñas</a>

    <script>
        function generarContrasena() {
            const longitud = document.getElementById('longitud').value;
            const contrasenaInput = document.getElementById('contrasena');
            const contrasenaGenerada = generarContrasenaAleatoria(longitud);
            contrasenaInput.value = contrasenaGenerada;
        }

        function generarContrasenaAleatoria(longitud) {
            const caracteres = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()-_=+";
            let contrasena = '';
            for (let i = 0; i < longitud; i++) {
                const caracter = caracteres[Math.floor(Math.random() * caracteres.length)];
                contrasena += caracter;
            }
            return contrasena;
        }

        document.getElementById('longitud').addEventListener('input', function () {
            document.getElementById('valorLongitud').innerText = this.value;
        });
    </script>
</body>
</html>
