<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Contraseñas</title>
</head>
<body>
    <h1>Contraseñas almacenadas</h1>
    <table border="1">
        <tr>
            <th>Servicio</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Acciones</th>
        </tr>
        {% for contrasena in contrasenas %}
        <tr>
            <td>{{ contrasena[0] }}</td>
            <td>{{ contrasena[1] }}</td>
            <td> <input type="password" value="{{ contrasena[2] }}" class="contrasena-fila" readonly>
            </td>
            <td><button type="button" class="toggle-btn" onclick="togglePassword(this)">Mostrar/ocultar</button>

                <button type="button" class="copy-btn" onclick="copyToClipboard(this)" disabled>Copiar</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Volver al inicio</a>
    <script>
        function togglePassword(button) {
            const contrasenaInput = button.parentNode.previousElementSibling.querySelector('.contrasena-fila');
            const tipoInput = contrasenaInput.type === 'password' ? 'text' : 'password';
            contrasenaInput.type = tipoInput;

            // Habilita o deshabilita el botón de copiar según el estado del campo de contraseña
            const copyButton = button.parentNode.querySelector('.copy-btn');
            copyButton.disabled = tipoInput === 'password';
        }

        function copyToClipboard(button) {
            const contrasenaInput = button.parentNode.previousElementSibling.querySelector('.contrasena-fila');

            // Selecciona el texto en el campo de contraseña
            contrasenaInput.select();
            contrasenaInput.setSelectionRange(0, 99999); // Para dispositivos móviles

            // Copia el texto al portapapeles
            document.execCommand('copy');

            // Deselecciona el texto para evitar confusiones visuales
            window.getSelection().removeAllRanges();
        }
    </script>
</body>
</html>