<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacenamiento de Contraseñas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css" />
</head>
<body>
    <h1>Almacenamiento de Contraseñas</h1>
    <form action="/agregar" method="post">
        <label for="servicio">Servicio:</label>
        <input type="text" name="servicio" required>
        <br>
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" required>
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" name="contrasena" id="contrasena" required>
        <button type="button" id="toggleBtn" onclick="togglePassword()">Mostrar/ocultar</button>

        <button type="button" onclick="generarContrasena()">Al azar</button>
        <br>
        <label for="longitud">Longitud:</label>
        <input type="range" id="longitud" name="longitud" min="4" max="16" value="12">
        <span id="valorLongitud">12</span>
        <br>
        <button type="submit">Agregar Contraseña</button>
    </form>
    <br>
    <a href="/ver">Ver Contraseñas</a>
    <script src="../static/js/scripts.js"></script>
</body>
</html>