<!-- CREAR PASS -->
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>

  <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
    id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Crear Contraseña:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            onclick="cerrarModal()"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <form action="/agregar" method="post" class="contraseñas">


            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-3" id="servicio" name="servicio" required /><br />
              <label for="servicio" class="label-update">Servicio:</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-3" id="usuario" name="usuario" required /><br />
              <label for="usuario" class="label-update">Usuario:</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="contrasena" name="contrasena" required /><br />
              <label for="contrasena" class="label-update">Contraseña:</label>


              <div>
                <label for="longitud" class="form-label">Longitud:</label> <span id="valorLongitud">12</span>
                <input type="range" class="form-range" min="4" max="16" value="12" id="longitud">
              </div>

              <a type="button" id="toggleBtn" onclick="switchPassword()"
                class="btn btn-outline-primary d-inline-flex align-items-center">
                Mostrar
              </a>

              <button type="button" class="btn btn-outline-primary d-inline-flex align-items-center"
                onclick="generarContrasena()">Al azar</button>
            </div>



            <button type="submit" class="btn-update w-100 mb-2 btn btn-lg rounded-3 btn-success">Agregar
              Contraseña</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/js/scripts.js"></script>
</body>
</html>