<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--ICONOS-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="b-example-divider"></div>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">Derechos Reservados &copy; 2023 - Py Sword</span>
      </div>

      <ul class="nav col-md-6 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><i class='bx bxl-facebook-circle'></i></li>
        <li class="ms-3"><i class='bx bxl-instagram-alt'></i></li>
        <li class="ms-3"><i class='bx bxl-twitter'></i></a></li>
        <li class="ms-3"><i class='bx bxl-linkedin-square'></i></li>
        <li class="ms-3"><i class='bx bxl-github'></i></li>
      </ul>
    </footer>
  </div>
</body>
</html>