<!-- USER DASHBOARD -->
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'header.html' %}

  <h1 class="title-home">Bienvenido/a {{session["fullname"]}}</h1>
  <h2 class="home-title">Contraseñas almacenadas</h2>
  <a href="{{ url_for('create_page') }}" class="btn btn-primary home-title">Nueva</a>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Servicio</th>
      <th>Usuario</th>
      <th>Contraseña</th>
      <th>Acciones</th>
    </tr>

    {% for contrasena in contrasenas %}
    <tr>
      <td> {{ contrasena.id }} </td>
      <td> {{ contrasena.servicio }} </td>
      <td> {{ contrasena.usuario }} </td>
      <td> <input type="password" value="{{ contrasena.contrasena }}" class="contrasena-fila" readonly>
      </td>
      <td><button type="button" class="toggle-btn" onclick="togglePassword(this)">Mostrar/ocultar</button>
        <button type="button" class="copy-btn" onclick="copyToClipboard(this)" disabled>Copiar</button>
        <button type="button" class="delete-btn" data-id="{{ contrasena.id }}" onclick="deleteRow(this)">Borrar</button>
        <button class="btn-update" onclick="abrirModal({{ contrasena.id }})">Editar</button>

      </td>
    </tr>
    {% endfor %}
  </table>

  <div id="editarModal" class="modal">
    <div class="modal-content">
      <span><button type="button" onclick="cerrarModal()">X</button></span>


      <iframe id="editarFrame" width="100%" height="400px" frameborder="1"></iframe>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>