
  <header>
    <ul class="nav nav-underline">
      <a class="navbar-logo" href="py_sword">
        <img src="{{url_for('static', filename='img/logo_py_sword.png')}}" alt="Logo">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Py Sword</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registro">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="index">Ingresar</a>
        </li>
    </ul>
  </header>
