<!-- LANDING PAGE -->
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<link rel="stylesheet" href="../static/css/features.css">
<body>
  {% include 'nav.html' %}
  <!-- HERO -->
  <div class="px-4 py-5 my-5 text-center">
    <svg class="bi bi-fingerprint text-primary" width="80" height="80" fill="currentColor" viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8.06 6.5a.5.5 0 0 1 .5.5v.776a11.5 11.5 0 0 1-.552 3.519l-1.331 4.14a.5.5 0 0 1-.952-.305l1.33-4.141a10.5 10.5 0 0 0 .504-3.213V7a.5.5 0 0 1 .5-.5Z" />
      <path
        d="M6.06 7a2 2 0 1 1 4 0 .5.5 0 1 1-1 0 1 1 0 1 0-2 0v.332c0 .409-.022.816-.066 1.221A.5.5 0 0 1 6 8.447c.04-.37.06-.742.06-1.115zm3.509 1a.5.5 0 0 1 .487.513 11.5 11.5 0 0 1-.587 3.339l-1.266 3.8a.5.5 0 0 1-.949-.317l1.267-3.8a10.5 10.5 0 0 0 .535-3.048A.5.5 0 0 1 9.569 8Zm-3.356 2.115a.5.5 0 0 1 .33.626L5.24 14.939a.5.5 0 1 1-.955-.296l1.303-4.199a.5.5 0 0 1 .625-.329Z" />
      <path
        d="M4.759 5.833A3.501 3.501 0 0 1 11.559 7a.5.5 0 0 1-1 0 2.5 2.5 0 0 0-4.857-.833.5.5 0 1 1-.943-.334Zm.3 1.67a.5.5 0 0 1 .449.546 10.72 10.72 0 0 1-.4 2.031l-1.222 4.072a.5.5 0 1 1-.958-.287L4.15 9.793a9.72 9.72 0 0 0 .363-1.842.5.5 0 0 1 .546-.449Zm6 .647a.5.5 0 0 1 .5.5c0 1.28-.213 2.552-.632 3.762l-1.09 3.145a.5.5 0 0 1-.944-.327l1.089-3.145c.382-1.105.578-2.266.578-3.435a.5.5 0 0 1 .5-.5Z" />
      <path
        d="M3.902 4.222a4.996 4.996 0 0 1 5.202-2.113.5.5 0 0 1-.208.979 3.996 3.996 0 0 0-4.163 1.69.5.5 0 0 1-.831-.556Zm6.72-.955a.5.5 0 0 1 .705-.052A4.99 4.99 0 0 1 13.059 7v1.5a.5.5 0 1 1-1 0V7a3.99 3.99 0 0 0-1.386-3.028.5.5 0 0 1-.051-.705ZM3.68 5.842a.5.5 0 0 1 .422.568c-.029.192-.044.39-.044.59 0 .71-.1 1.417-.298 2.1l-1.14 3.923a.5.5 0 1 1-.96-.279L2.8 8.821A6.531 6.531 0 0 0 3.058 7c0-.25.019-.496.054-.736a.5.5 0 0 1 .568-.422Zm8.882 3.66a.5.5 0 0 1 .456.54c-.084 1-.298 1.986-.64 2.934l-.744 2.068a.5.5 0 0 1-.941-.338l.745-2.07a10.51 10.51 0 0 0 .584-2.678.5.5 0 0 1 .54-.456Z" />
      <path
        d="M4.81 1.37A6.5 6.5 0 0 1 14.56 7a.5.5 0 1 1-1 0 5.5 5.5 0 0 0-8.25-4.765.5.5 0 0 1-.5-.865Zm-.89 1.257a.5.5 0 0 1 .04.706A5.478 5.478 0 0 0 2.56 7a.5.5 0 0 1-1 0c0-1.664.626-3.184 1.655-4.333a.5.5 0 0 1 .706-.04ZM1.915 8.02a.5.5 0 0 1 .346.616l-.779 2.767a.5.5 0 1 1-.962-.27l.778-2.767a.5.5 0 0 1 .617-.346Zm12.15.481a.5.5 0 0 1 .49.51c-.03 1.499-.161 3.025-.727 4.533l-.07.187a.5.5 0 0 1-.936-.351l.07-.187c.506-1.35.634-2.74.663-4.202a.5.5 0 0 1 .51-.49" />
    </svg>
    <h1 class="display-5 fw-bold text-body-emphasis">Py Sword <br> El Lugar más seguro para <br>almacenar sus
      contraseñas</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Tus datos te pertenecen. Py Sword te permite crear, almacenar y administrar
        contraseñas seguras donde sea mejor para vos.</p>
    </div>
  </div>
  <!-- BLOQUE DE CONTENIDO -->
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 text-center">Estos son algunos de los beneficios de contar con Py Sword</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <i class="bi-shield-check"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Contraseñas seguras</h3>
        <p>Nuestro poderoso algoritmo genera contraseñas seguras a prueba de ataques para que nunca mas tengas que
          estar pensando en una que nadie pueda adivinar.</p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <i class="bi-database-check"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Registros sin limites<small>*</small></h3>
        <p>Mantén todas tus contraseñas en un solo lugar. Podras almacenar una multitud de servicios, nombres de
          usuario y sus respectivas contraseñas.<br><small>(*solo en los planes pagos)</small></p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <i class="bi-archive"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Un lugar para todo</h3>
        <p>Olvidate de tener que recordar las contraseñas de tus servicios preferidos cuando usas un dispositivo
          nuevo, o cuando sin querer cerraste esa sesion que tenias abierta desde el 2019. Nosotros lo hacemos por
          vos.</p>

      </div>
    </div>
  </div>
  <!-- BLOQUE DE CONTENIDO-->
  <div class="container py-3 container-precios">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Precios</h1>
        <p class="fs-5 text-muted">Elija el plan que se adapte a sus necesidades.</p>
      </div>
    </header>
    <div class="row row-cols-1 row-cols-md-2 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Gratis</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">USD 0 <small class="text-muted fw-light">/por mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Hasta 20 registros</li>
              <li>Dispositivos Ilimitados</li>
              <li>Todas las Funciones Principales</li>
              <li>Siempre Gratis</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Profesional</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">USD 0.99<small class="text-muted fw-light">/por mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Registros Ilimitados</li>
              <li>Dispositivos Ilimitados</li>
              <li>Copias de Seguridad</li>
              <li>Reportes e Informes de seguridad</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>