<!-- LANDING PAGE -->
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<link rel="stylesheet" href="../static/css/features.css">

<body>
  {% include 'nav.html' %} 

  <!-- HERO -->
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../static/img/PySword.svg" alt="" width="80" height="80">
    <h1 class="display-5 fw-bold text-body-emphasis">Py Sword <br> El Lugar más seguro para <br>almacenar sus
      contraseñas</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Tus datos te pertenecen. Py Sword te permite crear, almacenar y administrar
        contraseñas seguras donde sea mejor para vos.</p>
    </div>
  </div>

  <!-- BLOQUE DE CONTENIDO -->
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 text-center">Estos son algunos de los beneficios de contar con Py Sword</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <i class="bi-shield-check"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Contraseñas seguras</h3>
        <p>Nuestro poderoso algoritmo genera contraseñas seguras a prueba de ataques para que nunca mas tengas que
          estar pensando en una que nadie pueda adivinar.</p>

      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <i class="bi-database-check"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Registros sin limites<small>*</small></h3>
        <p>Mantén todas tus contraseñas en un solo lugar. Podras almacenar una multitud de servicios, nombres de
          usuario y sus respectivas contraseñas.<br><small>(*solo en los panes pagos)</small></p>

      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <i class="bi-archive"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Un lugar para todo</h3>
        <p>Olvidate de tener que recordar las contraseñas de tus servicios preferidos cuando usas un dispositivo
          nuevo, o cuando sin querer cerraste esa sesion que tenias abierta desde el 2019. Nosotros lo hacemos por
          vos.</p>

      </div>
    </div>
  </div>


  <!-- BLOQUE DE CONTENIDO-->

  <div class="container py-3 container-precios">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Precios</h1>
        <p class="fs-5 text-muted">Elija el plan que se adapte a sus necesidades.</p>
      </div>
    </header>

    <div class="row row-cols-1 row-cols-md-2 text-center">

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Gratis</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">USD 0 <small class="text-muted fw-light">/por mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Hasta 20 registros</li>
              <li>Dispositivos Ilimitados</li>
              <li>Todas las Funciones Principales</li>
              <li>Siempre Gratis</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Profesional</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">USD 0.99<small class="text-muted fw-light">/por mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Registros Ilimitados</li>
              <li>Dispositivos Ilimitados</li>
              <li>Copias de Seguridad</li>
              <li>Reportes e Informes de seguridad</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    
    {% include 'footer.html' %}
</body>
</html>