<!-- SIGN IN -->
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/"><img class="bi me-2" width="40" height="40" role="img" src="../static/img/PySword.svg"></a>

      </div>
      <div class="col-md-3 text-end">
        <small>¿Ya tenés una cuenta?</small>
        <a type="button" href="index" class="btn btn-outline-primary me-2">Iniciar sesión</a>
      </div>
    </header>
  </div>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Bienvenido a la tranquilidad</h1>
        <p class="col-lg-10 fs-4">Con Py Sword podes estar tranquilo de que tus contraseñas van a estar seguras y
          disponibles las 24hs. Solamente vos vas a poder utilizarlas. No las puede ver nadie mas, ni nosotros.
          <br>Nuestro poderoso algoritmo te garantiza crear contraseñas a prueba de hackers, pero de todas formas te
          recomendamos que siempres uses un segundo factor de autenticación.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="crear-registro" method="POST">
          {% if mensaje %}
          <div class="alert alert-danger" role="alert">{{ mensaje}}</div>
          {% endif %}

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingUser" placeholder="Nombre de usuario" name="txtFullname" required>
            <label for="floatingUser">Nombre de usuario</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="txtEmail" required>
            <label for="floatingInput">Correo Electrónico</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña"
              name="txtPassword" required>
            <label for="floatingPassword">Contraseña</label>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
          <hr class="my-4">
          <small class="text-body-secondary">Al hacer clic en Registrarse, aceptas los términos de uso.</small>
        </form>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>