<!-- EDITAR PASS-->
<h2 class="title-update">Editar Contraseña</h2>
<form id="editarForm" action="/editar" method="put" class="form-update">
  <label for="nuevo_servicio" class="label-update">Servicio:</label>
  <input type="text" class="input-update" id="nuevo_servicio" name="nuevo_servicio" value="{{ contrasena.servicio }}"
    required /><br />

  <label for="nuevo_usuario" class="label-update">Usuario:</label>
  <input type="text" class="input-update" id="nuevo_usuario" name="nuevo_usuario" value="{{ contrasena.usuario }}"
    required /><br />

  <label for="nueva_contrasena" class="label-update">Contraseña:</label>
  <input type="text" class="input-update" id="nueva_contrasena" name="nueva_contrasena"
    value="{{ contrasena.contrasena }}" required /><br />

  <button type="button" class="btn-update" onclick="guardarCambios({{ contrasena.id }})">
    Guardar Cambios
  </button>
</form>